<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="API_Automation_Programs">
        <classes>
            <class name="com.Mayank_Project_API.TestNG_Allure_Report.TestCAse_01">

            </class>
        </classes>
    </test>
</suite>